body {
    background-color: white;
}

h1 {
    color: red;
    text-align: center;
}

body {
    color: red;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    align-self: center;
}

nav{
    float: left;
    text-align: left;
    color: black;
    background-color:burlywood;
    height:150px;
}

aside{
    float: left;
    text-align: right;
    color: white;
    background-color:yellow;
    height:140px;
}

article{
    float: center;
    color:aqua
    text-align: center;
}